@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body, #root {
        height: 100vh;
        font-family: 'Poppins', sans-serif;
        -webkit-tap-highlight-color: transparent;
    }

    html.dark #root {
        background: #292738;
    }

    #root {
        background: url(./assets/top-image.svg) no-repeat top, url(./assets/bottom-image.svg) no-repeat bottom;
        background-size: 100% auto;

        display: flex;
        place-items: center;
        justify-content: center;
    }

    .splitsScroll::-webkit-scrollbar {
        display: none;
    }
}